In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./ChicagoFoodAccess/FoodAccessMeasure/Chicago_FAMeasure.csv')

In [3]:
df

,OBJECTID,TRACTCE10,geoid10,commarea,MEANMI_07,MEANMI_11,MEANMI_14
0,1,842400,17031842400,44,1.4066,1.3675,1.0502
1,2,840300,17031840300,59,0.4343,0.3362,0.3147
2,3,841100,17031841100,34,1.3221,1.2829,0.4284
3,4,841200,17031841200,31,0.2873,0.2873,0.2220
4,5,838200,17031838200,28,1.3909,1.3909,0.9741
...,...,...,...,...,...,...,...
786,797,71000,17031071000,7,0.3443,0.3443,0.4208
787,798,71200,17031071200,7,0.4473,0.4473,0.8511
788,799,130300,17031130300,13,1.3958,1.3947,0.9365
789,800,292200,17031292200,29,0.9465,0.8211,0.8022
790,801,630900,17031630900,63,0.8988,0.8988,0.8264